
*.xmsgs
*.xreport
*.html
*.cmd
isim/pn_info
*.c
*.didat
*.obj
*.log
*.dbg
*.dat
*.exe
isim/Tb_Processor_isim_beh.exe.sim/tmp_save/_1
*.vdb
*.gise
*.prj
*.wdb
*.ini
*.xlsx
*.projectmgr
*.xst
*.ref
*.vho
*.stx
.lso
